body {
    margin: 0;
    background: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;

    overflow-x: hidden;
}

@media (max-width: 575px) {
    header h1 {
        /* space for second line of text */
        min-height: 2.5em;
    }
}

.container {
    margin-top: 88vh;
    margin-bottom: 50vh;
    border-radius: 1em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(8px);
}

.container {
    padding: 2em;
    max-width: 960px;
}

.nav-tabs {
    border-color: rgba(0, 0, 0, .3);
    text-align: center;
}

.nav-tabs .nav-item {
    width: 45%;
    margin: auto;
}

.nav-tabs .nav-link {
    width: 100%;
    border: 0;
    padding: 1em;
    color: #333333;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:active {
    border-color: rgba(0, 0, 0, 0);
}

.nav-tabs .nav-link.active  {
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    color: white;
}

/******************************************************************************/

.section {
    padding: 2em;
}

@media (max-width: 500px) {
    .section {
        padding: 1em;
    }
}

.carousel-container {
    direction: rtl;
    text-align: left;
}

.carousel,
.carousel-info {
    display: inline-block;
}

.carousel { width: 60%; }
.carousel-info { width: 30%; }

.carousel {
    margin-top: -2em;
}

.carousel-info {
    vertical-align: top;
    margin-right: 9%;
}

@media (max-width: 991px) {
    .carousel {
        width: 100%;
        margin: 1.5em 0;
    }
    .carousel-info {
        width: 100%;
        margin: 0;
    }
}

/******************************************************************************/

.collab-image img {
    display: inline-block;
    width: 18rem;
    position: relative;
    top: 1.5em;
}

.collab-image .info {
    display: inline-block;
    padding: 1.5em;
    max-width: 30em;
}

@media (max-width: 991px) {
    .collab-image img,
    .collab-image .info {
        float: none;
        max-width: 100%;
        width: 100%;
        top: 0;
    }
}

/******************************************************************************/


a, a:active, a:visited {
    text-decoration: none;
    color: inherit !important;
}

a { text-decoration: underline; }

a:hover {
    opacity: .5;
}

canvas {
    cursor: move;
}

.bold {
    font-weight: bold;
}

.no-select {
    cursor: default;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
