body {
    margin: 0;
    background: black;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;

    overflow-x: hidden;

    pointer-events: none;
}

@media (max-width: 575px) {
    header h1 {
        /* space for second line of text */
        min-height: 2.5em;
    }
}

/******************************************************************************/

.handle {
    display: none;
    width: 100%;
    position: absolute;
    top: calc(88vh - 2.5em);
    z-index: 1;
}

.handle span {
    display: block;
    width: 5em;
    height: 2.5em;
    margin: auto;
    border-radius: 5em 5em 0 0;
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
}

.handle span i {
    font-size: 2em;
}

@media (max-width: 500px) {
    .handle { display: block; }
}

.main.container {
    margin-top: 88vh;
    margin-bottom: 50vh;
    border-radius: 1em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.container {
    padding: 2em;
    max-width: 960px;
}

/******************************************************************************/

.apply-container {
    width: 100%;
    text-align: center;
    color: white;
}

.glitch-button {
    padding: 0.8em 3em;
    border: 2px rgba(0, 0, 0, .6);
    border-radius: 0.2em;
    margin: 1em;
    margin-bottom: 1.5em;
    /* box-shadow: 0 0 0.3em rgba(0,0,0,.6); */
    background: rgba(0,0,0,.4);
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.glitch-button:hover {
    background: rgba(0,0,0,.2);
    opacity: 1;
}

@media (max-width: 500px) {
    .glitch-button {
        width: 100%;
        margin: 0;
        margin-top: 2em;
        margin-bottom: 2.5em;
    }
}


/******************************************************************************/

.nav-tabs {
    border-color: rgba(0, 0, 0, .3);
    margin: 0 -2em;
    text-align: center;
}

.nav-tabs .nav-item {
    width: 45%;
    margin: auto;
}

.nav-tabs .nav-link {
    width: 100%;
    border: 0;
    padding: 1em;
    color: #333333;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:active {
    border-color: rgba(0, 0, 0, 0);
}

.nav-tabs .nav-link.active  {
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    color: white;
}

/******************************************************************************/

.section {
    padding: 2em;
}

.section.intro {
    padding-bottom: 0;
}

@media (max-width: 500px) {
    .section {
        padding: 1em;
    }

    .section.intro {
        padding-bottom: 1em;
    }
}

.carousel-container {
    direction: rtl;
}

.carousel-container * {
    direction: ltr;
}

.carousel,
.carousel-info {
    display: inline-block;
}

.carousel { width: 60%; }
.carousel-info { width: 30%; }

.carousel {
    margin-top: -2em;
}

.carousel-info {
    vertical-align: top;
    margin-right: 9%;
}

@media (max-width: 991px) {
    .carousel {
        width: 100%;
        margin: 1.5em 0;
    }
    .carousel-info {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .carousel {
        width: 100vw;
        margin: 1.5em -3em;
    }
}

/******************************************************************************/

.section.media {

}

.section.media p {
    display: inline-block;
    padding: 1.5em;
    max-width: 37em;
}

.section.media .ins-qr img {
    width: 10em;
    max-width: 100%;
    float: right;
}

@media (max-width: 900px) {
    .section.media p {
        width: calc(100% - 10em);
    }
}

@media (max-width: 720px) {
    .section.media .ins-qr {
        display: inline-block;
        width: 100%;
        margin-top: 1.5em;
        text-align: center;
    }
    .section.media .ins-qr img {
        width: 15em;
        float: none;
    }
    .section.media p {
        width: 100%;
    }
}

/******************************************************************************/

.collab-image img {
    display: inline-block;
    width: 18rem;
    position: relative;
    top: 1.5em;
}

.collab-image .info {
    display: inline-block;
    padding: 1.5em;
    max-width: 30em;
}

@media (max-width: 991px) {
    .collab-image .info {
        width: calc(100% - 18em);
    }
}

@media (max-width: 720px) {
    .collab-image img,
    .collab-image .info {
        max-width: 20em;
        width: 100%;
        max-width: 100%;
        top: 0;
    }
}

@media (max-width: 500px) {
    .collab-image .info {
        padding: 1.5em .5em;
    }
}

/******************************************************************************/

.section.names n {
    white-space: nowrap;
}

/******************************************************************************/

footer {
    text-align: right;
    color: #8b8680;
}

footer .dnd {
    display: inline-block;
}

footer .d1, footer .d2 {
    animation: 1.5s infinite alternate dnd_toggle;
}

footer .d1 {
    position: absolute;
    opacity: 0;
    animation-delay: 1.5s;
}

@keyframes dnd_toggle {
  0% { opacity: 1.0; }
  35% { opacity: 1.0; }
  65% { opacity: 0.0; }
  100% { opacity: 0.0; }
}

footer a {
    text-decoration: none;
}

footer .logo {
    height: 1em;
    margin-bottom: .2em;
}

/******************************************************************************/


a, a:active, a:visited {
    text-decoration: none;
    color: inherit !important;
}

a { text-decoration: underline; }

a:hover {
    opacity: .5;
}

p {
    line-height: 1.8em;
}

canvas {
    cursor: move;
}

.bold {
    font-weight: bold;
}

.no-select {
    cursor: default;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
